* {
    font-family: 'Merriweather', serif;
    background-color: bisque;
}

header {
    display: grid;
    background-image: url('resources/images/houstonbackground.jpg');
    background-size: 100%;
}

.picheader {
    max-width: 200px;
    border-radius: 50%;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

}

header ul {
    display: inline-flex;
    justify-content: space-between;
    flex-grow: 2;
    flex-direction: row;
    padding: 0 10%;
    background-color: transparent;

    

}
li {
    padding: 1rem;
    list-style-type: none;
    background-color: transparent;
    font-size: 20px;
}
a {
    background-color: transparent;
}

h1, h2, h6 {
    text-align: center;
    background-color: transparent;
}

#aboutme {
    padding: 1rem;
    max-width: 50%;
    justify-content: center;
    line-height: 150%;
    font-size: 1.2rem;
}

#skills {
    padding: 1rem;
    max-width: 50%;
}

#projects {
    padding: 1rem;
    max-width: 50%;
}

#project ul{
    display: block;
}

footer, footer ul {
    background-color: cadetblue;
    


}

#aboutme, #projects, #skills, footer {
    margin: auto;
    margin: auto;
}






/*Viewports between 320px and 480px*/
@media only screen and (min-width: 320px)and (max-width: 480px) {

}