* {
    font-family: 'Merriweather', serif;
    background-color: bisque;
}

header, ul {
    display: flex;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

h1 {
    width: 100%;
    text-align: center;
}

ul li{
    min-width:fit-content;
}

.profilepic {
    height: auto;
    max-width: 300px;
}

body {
   
    
}

.aboutme {
    background-color: cadetblue;
}

.skills {
    background-color: cornflowerblue;
}

.projects {
    background-color: darkgray;
}

footer {
    background-color: darkkhaki;
}

body article {
    display: flex;

}

/*Viewports between 320px and 480px*/
@media only screen and (min-width: 320px)and (max-width: 480px) {

}