* {
    font-family: 'Merriweather', serif;
    background-color: bisque;
}

header {
    display: flex;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

    
}
.picheader {
    height: auto;
    max-width: 100px;
    border-radius: 50%;
    position: absolute;
    margin: auto;

}

ul {
    display: inline-flex;
    justify-content: space-between;
    flex-grow: 2;
    flex-direction: row;
    padding: 0 10%;
    

}

h1 {
    width: 100%;
    text-align: center;
}



.profilepic {
    height: auto;
    max-width: 300px;
    border-radius: 50%;
}

body {
   
    
}

.aboutme {
    background-color: cadetblue;
}

.skills {
    background-color: cornflowerblue;
}

.projects {
    background-color: darkgray;
}

footer {
    background-color: darkkhaki;
}

body article {
    display: flex;

}

/*Viewports between 320px and 480px*/
@media only screen and (min-width: 320px)and (max-width: 480px) {

}